<header id="logo" role="banner" class="cf">
  <h1><%= link_to (raw "lassche <span>&</span> lassche"), root_path %></h1>
  <h2 id="logo_extra">kunst- en cultuureducatie</h2>
  <p id="tag">je <span>ziet</span> meer<br /> als je weet waar je naar kijkt</p>
</header>