// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Variables */
$full: #e97438;
$pink: #8F3481;
$font: #333;
$light: #444;
$margin-percent: 2%;
$column1: 20%;
$column2: 45%;
$column3: 35% ;
$line-height:1.5;
$margin: 1.5em;

/* Typography */
body {
  line-height: $line-height;
  font-family: Arial, sans-serif; }
#logo
  h1 {
  /*font-family: "Lucida Bold", 'Lucida Bright', Georgia, 'Times New Roman', Times, serif;*/
  font: 60px/68px 'BevanRegular', Arial, sans-serif; letter-spacing: 0;
  font-size: 2em; }
  h2 {
    font-style: italic;
  }
p.meta, hr { color: $light; }

/*************** Header and logo ***************/
/*#horizon { @include background-image(linear-gradient(left, color-stops(lighten($full, 30%), $full))); } */
#horizon { background-color: $full; }
#logo, #logo h1, #logo h2 { padding: 0; margin: 0; line-height: 1; }
#logo { position: relative; left: 17%; top: 0%; width: 83%;
  h1 { position: relative; left: -12%; padding-top: 2.7em; }
  h2 { position: relative; font-weight: normal; font-size: 1.2em; left: 10%; padding-top: 0.4em; width: 60%; }
  a { color: #373535; text-decoration: none;
    span { color: $full }
  }
}

#tagline { position: absolute; left: 55%; top: 1.5em; width: 45%;
  line-height: 130%; font-style: italic; text-indent: 1em; font-size: 14px;
  span { color: $full }
}

#main_nav {
  margin-top: 10%;
//    position: relative; left: $column1; width: $column2+$column3;
  ul { list-style: none; }
  li {
    float: left; margin-right: $margin;
    font-weight: bold; text-shadow: 0.1em 0.1em #333;
    a { text-decoration: none; color: white; text-transform: uppercase; }
  }
}

/* this line should not be necessary */
h1 a:link, h1 a:visited { color: black;}


/* Links Love Hate*/
a:link, a:visited { color: $pink; }
a:hover, a:active { color: white; }


/********* Main *********/
#main { margin: 0 auto; max-width: 1024px; }
.column { width: 50%; float: left;
  ul { list-style-type: disc; }
}

/* meta */
.meta { text-align: right; }
ul.meta { list-style-type: none; text-align: right;
  em { font-style: italic; }
}

/* Form */
label, input, textarea { }
.actions input { }
.field { margin-bottom: $margin; }

/********** Footer ************/
footer { padding-left: $margin; color: $light; }

/* ie6 */
.ie6 {
  #marketing {
    position: relative;
    background-image: image-url("logo_ie.jpg");
    height: 134px;
  }
}