<header id="logo" role="banner" class="clearfix">
  <p id="title"><%= link_to (raw "lassche <span>&</span> lassche"), root_path %></p>
  <h2 id="logo_extra">kunst- en cultuureducatie</h2>
  <p id="tagline">je <span>ziet</span> meer<br /> als je weet waar je naar kijkt</p>
</header>